.add-comment-form {
  width: 50%;
  min-height: 7rem;
  display: flex;
  margin-left: 25%;
  gap: 15px;
  background-color: hsl(0, 0%, 100%);
}

.reply-show-reply-form {
  width: 45%;
  margin-left: 30%;
  margin-bottom: 20px;
}

.comment-show-reply-form {
  margin-bottom: 20px;
}

.add-comment-form > img {
  width: 40px;
  height: 40px;
}

.add-comment-form > form {
  width: 100%;
  display: flex;
  gap: 15px;
}

.add-comment-form > form > textarea {
  color: hsl(212, 24%, 26%);
  resize: none;
  width: 100%;
  border-width: 1px;
  border-radius: 5px;
  border-color: hsl(228, 33%, 97%);
  padding: 10px 15px;
}

.add-comment-form > form > textarea:hover {
  cursor: pointer;
}

.add-comment-form > form > textarea:focus {
  caret-color: hsl(238, 40%, 52%);
  outline-width: 2px;
  outline-color: hsl(239, 57%, 85%);
}

.add-comment-form > form > button {
  align-self: flex-start;
  border: none;
  background-color: hsl(238, 40%, 52%);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  width: 4rem;
  height: 2rem;
}

.add-comment-form > form > button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 1048px) {
  .add-comment-form {
    width: 70%;
    margin-left: 15%;
  }

  .reply-show-reply-form {
    width: 65%;
    margin-left: 20%;
  }
}

@media (max-width: 768px) {
  .add-comment-form {
    width: 90%;
    margin-left: 5%;
  }

  .reply-show-reply-form {
    width: 85%;
    margin-left: 10%;
  }
}
